.border {
  border: 1px solid #e4e5e7;
}
// e4e5e7
.border-bottom {
  border-bottom: 1px solid #e4e5e7;
}

.brd-2 {
  border-width: 2px;
  transition: ease all 0.3s;
}

.brd-hover {
  &:hover {
    border-color: $color-primary;
  }
}
