.block {
  display: block;
}

.d-grid {
  display: grid;
}
.grid-template-12 {
  grid-template-columns: 1fr 2fr;
}

.gap-10 {
  gap: 0.625rem;
}

.d-flex {
  display: flex;
}

.flex-grow {
  flex-grow: 1;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.grid {
  display: grid;
}

.items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

@media (min-width: $lg) {
  .flex-column-lg {
    flex-direction: column !important;
  }

  .flex-row-lg {
    flex-direction: row !important;
  }
}
