$color-initial: #fff !default;
$color-white: #fff !default;
$color-primary: #e2136e !default;
$color-secondary: #666666 !default;
$color-tertiary: #f4f5f6 !default;
$color-quaternary: #d1d1d1 !default;
$color-quinary: #e1e1e1 !default;
$color-light: #f7f7f7 !default;
$color-light-v1: #f9f9f9 !default;
