// Background Color .background-color

.bg-white {
  background-color: $color-white;
}

.bg-primary {
  background-color: $color-primary;
}

// Display .display
.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

// Justify Content .justify-content

.justify-content-start {
  justify-content: flex-start !important;
}

.justify-content-end {
  justify-content: flex-end !important;
}

.justify-content-center {
  justify-content: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.justify-content-around {
  justify-content: space-around !important;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}

// Align Items .align-items

.align-items-start {
  align-items: flex-start !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.align-items-center {
  align-items: center !important;
}

.align-items-baseline {
  align-items: baseline !important;
}

.align-items-stretch {
  align-items: stretch !important;
}

// Margin .margin
.m-0 {
  margin: 0 !important;
}

.m-auto {
  margin: auto !important;
}

// Margin Left Right .mx
.mx-0 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.mx-auto {
  margin-right: auto !important;
  margin-left: auto !important;
}

// Margin Top Bottom .my
.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-auto {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

// Margin Top .mt
.mt-0 {
  margin-top: 0 !important;
}

// Margin Right .me
.me-0 {
  margin-right: 0 !important;
}

.me-auto {
  margin-right: auto !important;
}

// Margin Bottom .mb
.mb-0 {
  margin-bottom: 0 !important;
}

// Margin Left .me
.ms-0 {
  margin-left: 0 !important;
}

.ms-auto {
  margin-left: auto !important;
}

// Padding .padding
.p-0 {
  padding: 0 !important;
}

.p-auto {
  padding: auto !important;
}

// Padding Left Right .mx
.px--0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.px--auto {
  padding-right: auto !important;
  padding-left: auto !important;
}

// Padding Top Bottom .my
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-10 {
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-auto {
  padding-top: auto !important;
  padding-bottom: auto !important;
}

// Padding Top .mt
.pt-0 {
  padding-top: 0 !important;
}

// Padding Right .me
.pe-0 {
  padding-right: 0 !important;
}

.pe-auto {
  padding-right: auto !important;
}

// Padding Bottom .mb
.pb-0 {
  padding-bottom: 0 !important;
}

// Padding Left .me
.ps-0 {
  padding-left: 0 !important;
}

.ps-auto {
  padding-left: auto !important;
}

// Font Size

.fs-80 {
  font-size: 70%;
  color: #999;
}

.lh-1 {
  line-height: 1;
}
